body{
  padding: 0;
  margin: 0;
  
}

.body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  background-color: rgb(226, 226, 249,75%);
}
.dashboard{
  height: 41rem;
  width: 56rem;
  background-color: #262A41;
}
.right{

}

.users-container{
  height: 90%;
  overflow: auto;
  scrollbar-width:thin ;
  
}


.pic img{
  border-radius: 50%;
  width: 57px;
}
.user{
  background-color: #3c3f548a;
  cursor: pointer;
}
.users-container{
  gap: 0.7rem;
}
.spinner{
  height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spinner.inner{
  width: 3rem;
  height: 3rem;
}
.uicon{
  font-size: 2.3rem;
    /* color: #00ffc9; */
    color: white;
}
.user p{
  color: #bbbbbb;
    font-size: 0.80rem;
}
.infoicon{
  font-size: 2.05rem;
}
h3{
  margin: 0;
}
.details h6{
  font-size: 1rem;
}
.details{
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.right h5{
  margin: 2rem 0rem 1rem;
}
.selected-user{
  font-size: 1.01rem;
}
.right{
  margin: 4.4rem 1.3rem 1.3rem 1rem;
}
.selected-user img{
  width: 5rem;
}
